!*.yaml
!*.gitignore
!*.md
!*.sh
!*.js*

!node-red/

secrets.yaml
.ssh
.storage
.cloud
.google.token
.gitignore
.gitignore_old
home-assitant.log*
id_rsa*
options.xml
ingress.json
homeassistant.json
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db-DELETE
dns.json
OZW_Log.txt
zigbee.db
zigbee.db-shm
zigbee.db-wal

