!*.yaml
!*.gitignore
!*.md
!*.sh
!*.js*

!node-red/

secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assitant.log*
id_rsa*
options.xml
ingress.json
homeassistant.json
home-assistant_v2.db
dns.json