############ Example .gitignore file for your config dir.
############ An * ensures that everything will be ignored.
*
############ You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!packages/
!nodered/
!*.json
!*.sh

############ Ignore folders.
.storage
.cloud
.google.token

############ Below are my ignored files

backups
/backups
/backups/*
secrets.yaml
*.tar
.ssh
.storage
.cloud
.google.token
.gitignore
.gitignore_old
home-assitant.log*
id_rsa*
options.xml
ingress.json
homeassistant.json
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db-DELETE
dns.json
OZW_Log.txt
zigbee.db
core_async.py
settings.json
media_player.py
custom_components/xiaomi_miot/media_player.py
custom_components/smartthinq_sensors/wideq/core_async.py
flows_cred.json
home-assistant_v2.db
secrets.yaml
auth
*.db
*.log
*.1
*.log.fault
*.db-DELETE
*.hacs
*.repositories
*.device_registry
*.device_registry
*.entity_registry
*.HA_VERSION
*.gitignore
addons/core/
addons/git/a0d7b954/
packages/lockmanager/
OZW_Log.txt
zigbee.db
ozwave/config/inovelli/OpenZWave/*
ozwave/open-zwave/
ip_bans.yaml
secrets.yaml
known_devices.yaml